In [1]:
import pandas as pd
import glob, os
from tqdm import tqdm
directory = "./2013/" 
os.chdir(directory)
#print(glob.glob("*csv"))

In [2]:
all_files = glob.glob("*csv")
len(all_files)

8758

In [3]:
all_files[0]

'P4503501.201306290800 .csv'

In [4]:
file1 = 'P4503501.201301180800 .csv'
data1 = pd.read_csv(file1)
data1.head()

Empty DataFrame
Columns: [Time, temperature-2, cloudiness-2, temperature-5, cloudiness-5, temperature-15, cloudiness-15, temperature-27, cloudiness-27, temperature-70, cloudiness-70, temperature-110, cloudiness-110, temperature-120, cloudiness-120, temperature-130, cloudiness-130, temperature-145, cloudiness-145, temperature-149, cloudiness-149, temperature-156, cloudiness-156, temperature-168, cloudiness-168, temperature-180, cloudiness-180, temperature-190, cloudiness-190, temperature-222, cloudiness-222, temperature-240, cloudiness-240, temperature-255, cloudiness-255, temperature-260, cloudiness-260, temperature-280, cloudiness-280, temperature-299, cloudiness-299, temperature-434, cloudiness-434, temperature-460, cloudiness-460, temperature-481, cloudiness-481, temperature-497, cloudiness-497, temperature-510, cloudiness-510, temperature-579, cloudiness-579, temperature-588, cloudiness-588, temperature-621, cloudiness-621, temperature-630, cloudiness-630, temperature-643, cloudiness-643, temperature-645, cloudiness-645, temperature-650, cloudiness-650, temperature-675, cloudiness-675, temperature-690, cloudiness-690, temperature-747, cloudiness-747]
Index: []

[0 rows x 71 columns]

In [ ]:
file2 = all_files[1] 
data2 = pd.read_csv(file2)
data2 = data2.loc[data2.index[5]:data2.index[5]]

In [ ]:
together = pd.concat([data1, data2])

In [ ]:
together

In [ ]:
together = pd.concat([together, data2])

In [ ]:
together

In [ ]:
together.index = together['Time']

In [ ]:
together.index